#navbard {
  max-width: 1024px !important;
  margin: 0 auto;
}
.bg-env {
  background-image: url("../components/assets/bgfin.png");
  height:100vh;
}
.group-side {
  max-width: 1024px !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding-top: 50px;
  color: azure;
}
.center-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-flow: wrap; */
}
.card-body{
    border:0px solid;
}
.card-body:hover {
  background-color: rgba(49, 94, 251, 1);
  color: white;
  border-radius: 10px;
  border:0px;
}
.center-text,
.row {
  max-width: 1024px !important;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.div-center {
  max-width: 1024px !important;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
 background-color:  rgba(255, 255, 255, 1);
}
.navbar{
    background-color: transparent;
}
.div-center h2{
margin-bottom: 40px;
font-size: 20px;
}
.set-div {
  max-width: 1024px !important;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
}
.set-div h3{
    color: rgba(49, 94, 251, 1);
}
li {
  list-style-type: none;
}
.footer {
   background-color:  rgba(72, 52, 196, 1);
  margin-top: 60px;
}
.flex-footer {
  max-width: 1024px !important;
  margin: 0 auto;
  padding-top: 60px;
  color: white;
  display: flex;
  font-size:15px;
  justify-content: space-between;
  flex-flow: wrap;
}
.flex-footer h3{
    text-align: left;
}
.flex-form{
    display: flex;
    justify-content: space-evenly;
}